@use "../abstracts/variables" as variables;
@use "../abstracts/mixins" as mixins;

.contact-container {
    width: 100%;
    max-width: 896px;
    margin-top: 150px;
    margin-bottom: 59px;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;

    @include mixins.mobile-tablet {
      flex-direction: column;
      padding-inline: 20px;
      align-items: center;
    }
    @include mixins.mobile {
      flex-direction: column;
      padding-inline: 20px;
      align-items: flex-start;
    }


  }
  
  .contact-text {

    h2 {
      font-family: variables.$secondary-font;
      font-size: 3.0625rem;
      margin-bottom: 22px;
    }

    p {
      font-family: variables.$primary-font;
      font-size: 1rem;
      margin-bottom: 42px;
      font-weight: 500;
    }
    @include mixins.mobile-tablet {
      text-align: center;
      
    }


  } 
    
  
  .contact-information {
    display: flex;
    justify-content: space-between;
    font-family: variables.$primary-font;
    color: #A5A5A5;

    @include mixins.mobile-tablet {
      flex-direction: column;
      justify-content: baseline;
    }

    @include mixins.mobile {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  
  .contact-info-common {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-info-common::before {
    width: 27px;
    height: 27px;
    margin-right: 10px;
    display: block;
  }
  
  .contact-info-email::before {
    content: url(../assets/Mail\ Icon.svg);
  }
  
  .contact-info-phone::before {
    content: url(../assets/Phone\ Icon.svg);
  }
  
  .form-container {
    width: 100%;
    max-width: 440px;
  }
  
  .form-main {
    display: flex;
    flex-direction: column;
    gap: 42px;
    text-transform: uppercase;
    font-family: variables.$primary-font;
    color: variables.$primary-color;
    font-weight: 700;
    font-size: 0.6875rem;
    margin-bottom: 30px;
  }
  
  .form-name,
  .form-email {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .form-name input,
  .form-email input {
    height: 42px;
    border: transparent;
    border-bottom: 2px solid #A5A5A5;
    font-size: 1.5rem;
  }
  
  .checkbox-container {
    font-family: variables.$primary-font;
    color: #707070;
    font-size: 0.75rem;
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .checkbox-container img {
    width: 24px;
    height: 24px;
    padding: 6px;
    border: 1px solid #95989A;
    border-radius: 4px;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .button-contact {
    width: 100%;
    max-width: 226px;
    text-align: center;
    background-color: variables.$primary-color;
    transform: translateY(0);
    padding-block: calc((57px - 13px) / 2);
  }