@use "/src/SASS/abstracts/mixins";
@use "../abstracts/variables";

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-block: 50px;

    @include mixins.mobile-padding {
      
    }

    @include mixins.mobile-tablet {
      padding: 20px 15px;
  }

  }
  
  .statistics h2 {
    padding-block: 20px;
    font-family: variables.$secondary-font;
    font-size: 2.25rem;
    text-align: center;

    @include mixins.mobile {
      font-size: 1.875rem;
    }

  }
  
  .statistics_container {
    max-width: 830px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @include mixins.mobile-padding {
      flex-direction: column;
      gap: 25px;
      padding: 20px 15px;
    }
  }
  
  .statistic-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  .statistic-info__images {
    @include mixins.statistic-info-images {
    }
  }
  
  .statistic-info__first {
    background: variables.$secondary-color;
  }
  
  .statistic-info__second {
    background-color: variables.$primary-color;
  }
  
  .statistic-info__third {
    background-color: variables.$third-color;
  } 
  
  .statistic-info__numbers {
    margin-block: 30px;
    font-weight: 800;
    font-size: 1.25rem;
    letter-spacing: 5.96px;

    p {
      font-family: variables.$secondary-font;
    }

  }
  
  .statistic-info__text {
    font-size: 1.0625rem;
    color: #A5A5A5;

    p {
      font-family: variables.$secondary-font;
    }

  }